.linked-type-form-header {
    display: flex;
}

.linked-type-form-header .fa-plus-square, .linked-type-form-header .fa-minus-square {
    width: 2rem;
    height: 2rem;
}

:invalid {
    border-color: red;
}

.form-group.required label:after {
    color: red;
    content: ' *';
}

.badge a {
    color: white;
}